/* :root {
    --primary: #0db4d7;
    --white: #FFF;
    --white2: #F7F6FB;
    --black: #000;
    --light-gray: #AFA5D9;
    --header-height: 45px;
    --nav-width: 60px;
    --logo-color: #00653d;
    --body-font: 'Nunito', sans-serif;
    --z-fixed: 100;
    --secondary:#f5ab1e;
} */

:root {
    --primary: #229ea9;
    --secondary:#f8a735;
    --white: #ffffff;
    --black: #000000;
    --light-gray:#ddd;
    --light-black:#343a40;
    --body-color:#fbfcfd;
    --red:red;


}

*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
}
